extends ../layouts/default

block css
    link(rel='stylesheet', href='/css/languages.css')

block content
    - var alert_mes = "This language is not available at this moment. Please come back later."
    .container
      .col-xs-12
        h2 Programming languages
        #myCarousel(style='margin-top:30px').carousel.slide
          .carousel-inner
            .item.active
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='/python/lessonList')
                        img(src='/img/python.png', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Python
                      a(href='/python/lessonList') » Learn Python
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Java (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn Java
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 C++ (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn C++
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 JavaScript (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn JavaScript
            // /Slide1
            .item
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 PHP (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn PHP
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 My SQL (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn MySQL
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Ruby (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn Ruby
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 HTML (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Learn HTML
            // /Slide2
          nav
            ul.control-box.pager
              li
                a(data-slide='prev', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-left
              li
                a(data-slide='next', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-right
          // /.control-box
        // /#myCarousel
      // /.col-xs-12
    // /.container
