extends ../layouts/default
block css
    link(rel='stylesheet', href='/css/lesson-list.css')
block content
    .container
      .col-xs-12
        .col-xs-4.col-sm-push-4
            h2#programming_concepts_label Programming concepts
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Python_add5_syntax.svg/292px-Python_add5_syntax.svg.png', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Basic Syntax
                      p 1-2 hours
                      a(href='/play/' + language + "/basicsyntax/lgame") Learn this topic
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://darrencrawford.com/wp-content/uploads/2013/08/variable.png', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Variables
                      p 1-2 hours
                      a(href='#') Learn this topic
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://csharp.net-informations.com/statements/img/if_else_csharp.png', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Conditional statements
                      p 1-2 hours
                      a(href='#') Learn this topic
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='https://cdn3.iconfinder.com/data/icons/transfers/100/239330-loop_arrows-512.png', style='width:200px;height:200px;', alt='')
                    .caption
                      h4 Loops
                      p 1-3 hours
                      a(href='#') Learn this topic
            // /Slide1
            .item
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://placehold.it/360x240', alt='')
                    .caption
                      h4 Praesent commodo
                      p Nullam Condimentum Nibh Etiam Sem
                      a.btn.btn-mini(href='#') » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://placehold.it/360x240', alt='')
                    .caption
                      h4 Praesent commodo
                      p Nullam Condimentum Nibh Etiam Sem
                      a.btn.btn-mini(href='#') » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://placehold.it/360x240', alt='')
                    .caption
                      h4 Praesent commodo
                      p Nullam Condimentum Nibh Etiam Sem
                      a.btn.btn-mini(href='#') » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#')
                        img(src='http://placehold.it/360x240', alt='')
                    .caption
                      h4 Praesent commodo
                      p Nullam Condimentum Nibh Etiam Sem
                      a.btn.btn-mini(href='#') » Read More
  
          nav
            ul.control-box.pager
              li
                a(data-slide='prev', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-left
              li
                a(data-slide='next', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-right
