extends ../layouts/default
block css
    link(rel='stylesheet', href='/css/lesson-list.css')
block content
    - var alert_mes = "This topic is not available at this moment. Please come back later."
    .container
      .col-xs-12

        ol.breadcrumb(style='margin-top:10px')
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/languages') Languages
            li.breadcrumb-item.active Programming Concepts (Python)
      
        h2 Programming concepts
        #myCarousel(style='margin-top:30px').carousel.slide
          .carousel-inner
            .item.active
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='/study/' + language + "/basicsyntax/")
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Python_add5_syntax.svg/292px-Python_add5_syntax.svg.png', style='width:200px;height:200px;', alt='')
                    .caption
                      a(href='/study/' + language + "/basicsyntax/")
                        h4 Basic Syntax
                      a(href='/study/' + language + "/basicsyntax/") » Learn and Play games
                
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='/study/' + language + "/variables/")
                        img(src='http://darrencrawford.com/wp-content/uploads/2013/08/variable.png', style='width:200px;height:200px;', alt='')
                    .caption
                      a(href='/study/' + language + "/variables/")
                        h4 Variables
                      a(href='/study/' + language + "/variables/") » Learn and Play games
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='/study/' + language + "/condition/")
                        img(src='http://csharp.net-informations.com/statements/img/if_else_csharp.png', style='width:200px;height:200px;', alt='')
                    .caption
                      a(href='/study/' + language + "/condition/")
                        h4 Conditional statements
                      a(href='/study/' + language + "/condition/") » Learn and Play games
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='/study/' + language + "/whileloop/")
                        img(src='https://cdn3.iconfinder.com/data/icons/transfers/100/239330-loop_arrows-512.png', style='width:200px;height:200px;', alt='')
                    .caption
                      a(href='/study/' + language + "/whileloop/")
                        h4 Loops
                      a(href='/study/' + language + "/whileloop/") » Learn and Play games
            // /Slide1
            .item
              ul.thumbnails
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', alt='')
                    .caption
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        h4 Lists (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', alt='')
                    .caption
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        h4 Dictionary (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', alt='')
                    .caption
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        h4 Functions (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Read More
                li.col-sm-3
                  .fff
                    .thumbnail
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        img(src='/img/comingsoon.jpg', alt='')
                    .caption
                      a(href='#' onClick="alert('"+alert_mes+"')")
                        h4 Classes and Objects (Coming soon)
                      a(href='#' onClick="alert('"+alert_mes+"')") » Read More
  
          nav
            ul.control-box.pager
              li
                a(data-slide='prev', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-left
              li
                a(data-slide='next', href='#myCarousel')
                  i.glyphicon.glyphicon-chevron-right
