extends ../../layouts/default


block content

	.row.col-md-6.col-md-offset-3
		form#signupform.form-signin(action='/signup', method='post')
			h2.form-signin-heading(style="color: #337ab7;") Please sign up
			label(for='inputEmail' style="margin-top: 10px") Email address
			input#inputEmail.form-control(name='username',type='email', placeholder='Email address', required=true, autofocus='')
			label(for='inputPassword' style="margin-top: 10px") Password
			input#inputPassword.form-control(name='passwd', type='password', placeholder='Password', required=true)
			label(for='inputName' style="margin-top: 10px") Your Nickname
			input#inputName.form-control(name='nickname', type='text', placeholder='Nickname', required=true)
			.checkbox
				label
					input(type='checkbox', value='remember-me')
					|  Remember me
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up

	script.
		$("form").submit(function(event){
			event.preventDefault();
			var dataToSend = {
				username: $("#inputEmail").val(),
				passwd: $("#inputPassword").val(),
				nickname: $("#inputName").val(),
			}
			console.log('dataToSend');
			console.log(JSON.stringify(dataToSend));
			post("/signup", dataToSend, function(result){
					
				if (result.status == "000"){
					console.log("Sucessully signup");
					window.location.href = "/login";
				} else {
					alert(result.data);
				}
			});
			
		})